.DS_Store
Build
Library
Logs
Temp
Build_BurstDebugInformation_DoNotShip
UserSettings
*.csproj
*.sln
Packages/packages-lock.json
Packages/com.unity.render-pipelines.universal@14.0.9
Assets/SceneDependencyCache
obj
.vscode
